@import '../../assets/styles/colors';
@import '../../assets/styles/utils';

.CampgroundPage {
    width: 100%;
    position: relative;
    margin-top: $margin-top-header;
    display: flex;
    flex-direction: column;
    align-items: center;
}