@import '../../assets/styles/colors';
@import '../../assets/styles/utils';

.NavigationMenu {
    width: 100%;
    height: $margin-top-header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: $color-primary;
    color: $color-white;
    word-spacing: 5px;
    font-size: 1.1rem;
    padding: 0 2rem;
    top: 0;
    left: 0;
    z-index: 1000;

    &__logo {
        a {
            i {
                margin-right: 1rem;
                font-size: 1.5rem;
                color: $color-white;
            }
        }


        span {
            color: $color-orange;
        }
    }

    &__links {
        ul {
            li {
                list-style-type: none;
                cursor: pointer;
                line-height: 2;

                &::after {
                    content: '';
                    border-bottom: solid 2px $color-white;
                    display: block;
                    transform: scaleX(0);
                    transform-origin: center;
                    transition: transform $transition-time-faster ease-in-out;
                }

                &:hover::after {
                    transform: scaleX(1)
                }

                i {
                    margin-right: 0.5rem;
                }
            }
        }
    }

    &__accountMenu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 21vw;

        &-username {
            margin-right: 1rem;

            span {
                color: $color-orange;
            }
        }

        &-burgerMenu {
            font-size: 2rem;
            cursor: pointer;

            i {
                &:hover {
                    color: $color-orange;
                }
            }
        }
    }

}