@import '../../assets/styles/colors';
@import '../../assets/styles/utils';

.RegisterForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: $color-white;

    &__heading {
        width: 100%;

        h3 {
            background-color: $color-white;
            color: $color-orange;
            padding: 2rem;
            width: 100%;
            height: 100%;
            margin: 0;
            text-align: center;
            text-transform: uppercase;
        }
    }

    &__inputs {
        height: 70%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        div {
            margin: 1rem 0;
            width: 100%;

            input {
                margin: 0;
                width: 100%;
            }
        }

        .Input {
            position: relative;

            &--invalid-errorMessage {
                margin: 0;
                width: 100%;
            }
        }



        &-controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            .SpinnerLoader {
                width: 1rem;
                color: $color-primary;
            }
        }
    }
}