@import '../../assets/styles/colors';
@import '../../assets/styles/utils';

.SideDrawer {
    position: fixed;
    right: 0;
    top: $margin-top-header;
    z-index: 100;
    height: 500px;
    width: 28%;
    min-width: 360px;
    background: $color-white;
    box-shadow: $box-shadow;
}