@import '../../assets/styles/colors';
@import '../../assets/styles/utils';

.CampgroundSingleReview {
    width: 65%;
    margin: 1rem 0.5rem;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid $color-primary;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    &-container {
        display: flex;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;

        &>div:first-of-type {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0.5rem;

            .CampgroundSingleReview-author {
                font-weight: bold;
            }
        }

        &>div:nth-of-type(2) {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0.5rem;

            .CampgroundSingleReview-createdAt {
                font-size: 0.8rem;
                color: $color-muted;
            }

            &>div:first-of-type {
                border-bottom: 1px solid $color-orange;

                .CampgroundSingleReview-createdAt {
                    font-size: 0.8rem;
                    color: $color-muted;
                }
            }

            .CampgroundSingleReview-controls {
                cursor: pointer;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 3.5rem;
                margin: 1rem 0.5rem;

                &--edit,
                &--delete {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &::after {
                        content: '';
                        padding: 0.5rem;
                        border-radius: 50%;
                        width: 32px;
                        height: 32px;
                        position: absolute;
                        background-color: $color-primary-light;
                    }


                    &:hover {
                        i {
                            color: $color-orange;
                        }
                    }

                }

                &--edit {
                    i {
                        position: relative;
                        z-index: 1;
                        color: white;
                    }

                    .SpinnerLoader {
                        margin: 0;
                        position: absolute;
                        z-index: 10;
                    }
                }

                &--delete {
                    i {
                        position: relative;
                        z-index: 1;
                        color: white;
                    }

                    .SpinnerLoader {
                        margin: 0;
                        position: absolute;
                        z-index: 10;
                    }
                }
            }
        }
    }

}