@import '../../assets/styles/colors';
@import '../../assets/styles/utils';

.CampgroundCreateForm {
    background-color: $color-orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    height: 470px;

    &>div:first-of-type {
        width: 95%;

        &>div {
            margin-bottom: 1.2rem;
        }
    }

    .Input {
        position: relative;

        input,
        textarea {
            margin: 0
        }

        input:not(:placeholder-shown),
        textarea:not(:placeholder-shown) {
            border-bottom: 2px solid $color-primary;
        }

        &--invalid input {
            border: 2px solid $color-primary;
            ;
        }

        textarea {
            resize: none;
            width: 100%;
            font-family: inherit;
        }

        input[type=number] {
            width: 3rem;
            margin: 0;
        }

        &--invalid-errorMessage {
            margin: 0.2rem 0;
            bottom: -1.7rem;
            width: 100%;
        }

        &__label {
            color: darken($color-white, 10);
            font-size: 0.8rem;
            width: 100%;
            padding: 0.5rem 0;
        }
    }

    &__title,
    &__location {
        width: 50%;

        input {
            width: 100%;
        }
    }

    &__price {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }

    #imageUpload {
        font-family: 'Lato', sans-serif;
        color: darken($color-white, 10);
    }
}