@import '../../../assets/styles/colors';
@import '../../../assets/styles/utils';

.ImageGallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    padding: 0.5rem;
    min-height: 415px;

    &__inputFile {
        width: 4rem;
        height: 4rem;
        background-color: $color-orange;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: fixed;
        bottom: 7%;
        right: 9%;
        box-shadow: $box-shadow-light;

        &:hover {
            background-color: lighten($color-orange, 10);
        }

        &:active {
            transform: translateY(1px);
            box-shadow: $box-shadow;
        }

        label {
            cursor: pointer;

            i {
                color: $color-white;
            }
        }

        #addImageInput {
            opacity: 0;
            position: absolute;
            z-index: -1;
        }
    }
}