@import '../../assets/styles/colors';
@import '../../assets/styles/utils';

.Button {
    font: inherit;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border: 1px solid $color-orange;
    background: $color-orange;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.Button:focus {
    outline: none;
}

.Button:hover,
.Button:active {
    background: lighten($color-orange, 10);
    border-color: lighten($color-orange, 10);
}

.Button--inverse {
    background: transparent;
    color: $color-orange;
}

.Button--inverse:hover,
.Button--inverse:active {
    color: white;
    background: $color-orange;
}

.Button--danger {
    background: $color-red;
    border-color: $color-red;
}

.Button--danger:hover,
.Button--danger:active {
    background: lighten($color-red, 10);
    border-color: lighten($color-red, 10);
}

.Button:disabled,
.Button:hover:disabled,
.Button:active:disabled {
    background: lighten($color-primary-light, 50);
    color: $color-muted;
    border-color: $color-primary-light;
    cursor: not-allowed;
}

.Button--small {
    font-size: 0.8rem;
}

.Button--big {
    font-size: 1.5rem;
}

.Button--block {
    display: block;
    width: 100%;
}