@import '../../assets/styles/colors';
@import '../../assets/styles/utils';

.Header {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: $color-primary;
    color: $color-white;
    word-spacing: 5px;
    font-size: 1.1rem;
    padding: 0 2rem;

    &__logo {
        a {
            i {
                margin-right: 1rem;
                font-size: 1.5rem;
                color: $color-white;
            }
        }


        span {
            color: $color-orange;
        }
    }

    &__accountMenu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 21vw;

        &-username {
            margin-right: 1rem;
        }

        &-burgerMenu {
            font-size: 2rem;
            cursor: pointer;
        }
    }

    &__loginMenu {
        display: flex;
        align-items: center;

        &-login,
        &-register {
            position: relative;
            cursor: pointer;
            line-height: 2;

            &::after {
                content: '';
                border-bottom: solid 2px $color-white;
                display: block;
                transform: scaleX(0);
                transform-origin: center;
                transition: transform $transition-time-faster ease-in-out;
            }

            &:hover::after {
                transform: scaleX(1)
            }
        }

        &-login {
            margin-right: 1.5rem;
        }

        form {
            display: flex;
            position: relative;
        }

        input {

            &#submitBtn {
                background-color: $color-orange;
                color: $color-white;
                cursor: pointer;
                border: none;

                &:hover {
                    background-color: lighten($color-orange, 10);
                }
            }
        }


    }

}